[submodule "sw/avatar-qemu"]
	path = sw/avatar-qemu
	url = https://github.com/Hexhive/avatar-qemu.git
	shallow = true
[submodule "sw/avatar2"]
	path = sw/avatar2
	url = https://github.com/Hexhive/avatar2.git
	shallow = true
[submodule "sw/halucinator"]
	path = sw/halucinator
	url = https://github.com/Hexhive/halucinator.git
	shallow = true
